#formularioCarrito{
    display: grid;
    align-items: center;
    text-align: center;
    margin: 20px;
}

#formularioCarrito input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#titulo {
    margin: 20px;
}

.inputArticulo {
    display : grid;
    grid-template-columns: 1fr 1fr;
}